<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quxin.freshfun.dao.AddressMapper">
  <insert id="insertAddress" parameterType="com.quxin.freshfun.model.pojo.address.AddressPOJO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_address ( user_id, name,
    tel, prov_code, city_code, dist_code, address,
    is_default, gmt_create, gmt_modified, is_deleted
    )
    values ( #{userId}, #{name,jdbcType=VARCHAR},
    #{tel,jdbcType=VARCHAR}, #{provCode,jdbcType=INTEGER},#{cityCode,jdbcType=INTEGER},
    #{distCode,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR},
    #{isDefault,jdbcType=INTEGER}, #{created,jdbcType=BIGINT},
    #{updated,jdbcType=BIGINT},0
    )
  </insert>
  <update id="updateAddress" parameterType="com.quxin.freshfun.model.pojo.address.AddressPOJO">
    update user_address
    set name = #{name,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      prov_code = #{provCode,jdbcType=INTEGER},
      city_code = #{cityCode,jdbcType=INTEGER},
      dist_code = #{distCode,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=INTEGER},
      gmt_modified = #{updated,jdbcType=BIGINT}
    where id = #{addressId,jdbcType=INTEGER}
  </update>

  <update id="deleteAddress" parameterType="java.util.Map">
    update user_address
    set is_deleted = 1,
    gmt_modified = #{updated,jdbcType=BIGINT}
    where id = #{addressId,jdbcType=INTEGER}
  </update>

  <update id="deleteDefaultAddress" parameterType="java.util.Map">
    update user_address
    set is_default =0,
    gmt_modified = #{updated,jdbcType=BIGINT}
    where user_id = #{userId,jdbcType=INTEGER} and is_default =1
  </update>

  <select id="selectAddress" parameterType="java.lang.Long" resultType="com.quxin.freshfun.model.pojo.address.AddressPOJO">
    select id ,name,
    tel, prov_code  as provCode, city_code cityCode, dist_code as distCode, address,
    is_default as isDefault, gmt_create as created, gmt_modified as updated from user_address where user_id=#{userId} and is_default=0 and is_deleted=0 order by gmt_modified DESC
  </select>

  <select id="selectAddressById" parameterType="java.lang.Integer" resultType="com.quxin.freshfun.model.pojo.address.AddressPOJO">
    select id ,name,
    tel, prov_code  as provCode, city_code cityCode, dist_code as distCode, address,
    is_default as isDefault, gmt_create as created, gmt_modified as updated from user_address where id=#{addressId}
  </select>

  <select id="selectDefaultAddress" parameterType="java.lang.Long" resultType="com.quxin.freshfun.model.pojo.address.AddressPOJO">
    select id ,name,
    tel, prov_code  as provCode, city_code cityCode, dist_code as distCode, address,
    is_default as isDefault, gmt_create as created, gmt_modified as updated from user_address where user_id=#{userId} and is_default=1 and is_deleted=0
  </select>
</mapper>