<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.AgentWithdrawWayMapper" >
  <resultMap id="BaseResultMap" type="com.quxin.freshfun.model.AgentWithdrawWayPOJO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="withdraw_channel" property="withdrawChannel" jdbcType="INTEGER" />
    <result column="withdraw_account" property="withdrawAccount" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="BIGINT" />
    <result column="gmt_update" property="gmtUpdate" jdbcType="BIGINT" />
    <result column="is_default" property="isDefault" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, withdraw_channel, withdraw_account, gmt_create, gmt_update, is_default, is_delete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from agent_withdraw_way
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectDefaultWay" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from agent_withdraw_way
    where user_id = #{userId,jdbcType=INTEGER} and is_default=1
  </select>
  
  <select id="selectWithdrawWayByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from agent_withdraw_way
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from agent_withdraw_way
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.quxin.freshfun.model.AgentWithdrawWayPOJO" >
    insert into agent_withdraw_way (id, user_id, withdraw_channel, 
      withdraw_account, gmt_create, gmt_update, is_default ,
      is_delete)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{withdrawChannel,jdbcType=INTEGER}, 
      #{withdrawAccount,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=BIGINT}, #{gmtUpdate,jdbcType=BIGINT}, 
      #{isDefault,jdbcType=INTEGER},#{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.quxin.freshfun.model.AgentWithdrawWayPOJO" >
    insert into agent_withdraw_way
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="withdrawChannel != null" >
        withdraw_channel,
      </if>
      <if test="withdrawAccount != null" >
        withdraw_account,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtUpdate != null" >
        gmt_update,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="withdrawChannel != null" >
        #{withdrawChannel,jdbcType=INTEGER},
      </if>
      <if test="withdrawAccount != null" >
        #{withdrawAccount,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtUpdate != null" >
        #{gmtUpdate,jdbcType=BIGINT},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateWayEscDefault" parameterType="java.lang.Integer" >
  	update agent_withdraw_way set is_default = 0 where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateWaySetDefault" parameterType="java.lang.Integer" >
  	update agent_withdraw_way set is_default = 1 where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.quxin.freshfun.model.AgentWithdrawWayPOJO" >
    update agent_withdraw_way
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="withdrawChannel != null" >
        withdraw_channel = #{withdrawChannel,jdbcType=INTEGER},
      </if>
      <if test="withdrawAccount != null" >
        withdraw_account = #{withdrawAccount,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtUpdate != null" >
        gmt_update = #{gmtUpdate,jdbcType=BIGINT},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quxin.freshfun.model.AgentWithdrawWayPOJO" >
    update agent_withdraw_way
    set user_id = #{userId,jdbcType=INTEGER},
      withdraw_channel = #{withdrawChannel,jdbcType=INTEGER},
      withdraw_account = #{withdrawAccount,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=BIGINT},
      gmt_update = #{gmtUpdate,jdbcType=BIGINT},
       is_default = #{isDefault,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>