<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.RefundMapper" >
  <resultMap id="BaseResultMap" type="com.quxin.freshfun.model.RefundPOJO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_details_id" property="orderId" jdbcType="VARCHAR" />
    <result column="service_type" property="serviceType" jdbcType="VARCHAR" />
    <result column="return_reason" property="returnReason" jdbcType="VARCHAR" />
    <result column="return_money" property="returnMoney" jdbcType="INTEGER" />
    <result column="return_des" property="returnDes" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="BIGINT" />
    <result column="gmt_modified" property="gmtModified" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_details_id, service_type, return_reason, return_money, return_des, gmt_create, 
    gmt_modified
  </sql>
  <insert id="save" parameterType="com.quxin.freshfun.model.RefundPOJO" useGeneratedKeys="true" keyProperty="id">
    insert into refund (id, order_details_id, service_type, 
      return_reason, return_money, return_des, 
      gmt_create, gmt_modified)
    values (#{id}, #{orderId}, #{serviceType},
      #{returnReason}, #{returnMoney}, #{returnDes},
      #{gmtCreate}, #{gmtModified})
  </insert>
  <update id="updateRefundStatus" parameterType="java.util.Map">
  	update order_details 
  	<set>
  		order_status = 40 ,
        update_date = UNIX_TIMESTAMP(now()),
        delivery_remarke = #{orderStatus}
  	</set>
  	<where>
  		id = #{orderId}
  	</where>
  </update>
</mapper>